ion-content{
    --background: rgb(185, 207, 255);
}

#foto{
    width: 80%;
    height: 90%;
    border-radius: 50%;
    display: flex;
    margin: 0 auto;
}

#inputFoto{
    display: none;
}

#anadirFoto{
    border: 3px solid gray;
    border-radius: 23px;
    color: gray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 12px;
    font-size: 17px;
}

#opcion{
    border: 3px solid gray;
    border-radius: 23px;
    color: gray;
    margin-bottom: 12px;
}

#todo {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    height: 750px;
}

#card{
    margin: 0 auto;
    margin-top: 10px;
    width: 88%;
    height: 95%;
    border-radius: 15px;
    background-color: lightcyan;
}

#botones {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#informacion {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
    color: black;
}

#logo{
    width: 70%;
    height: 24%;
    margin: 0 auto;
    margin-top: 13px;
    margin-bottom: 20px;
    position: relative;
}   

#logo:hover .overlay {
    opacity: 1;
  }

#etiqueta {
    font-size: 19px;
    margin-bottom: -12px;
    margin-top: -10px;
}

#info{
    font-size: 15.5px;
}

.overlay {
    position: absolute;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 90%;
    opacity: 0;
    transition: .5s ease;
    backdrop-filter: contrast(40%);
    border-radius:  50%;
  }

  .text {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }