<ion-header>
</ion-header>

<ion-content>
  <div id="contenido">
    <h3><b>Política de Privacidad</b></h3>
    <p>
      La protección de los datos de carácter personal es una de las preocupaciones de mayor importancia para esta organización.
      <br>    
      <br>  
      En nuestro día a día nos esforzamos para proteger la privacidad de los datos que nos facilita y  cumplir con la normativa 
      vigente en materia de protección de datos de carácter personal.    
      <br>    
      <br>
      El objetivo de esta política es informar a los interesados acerca de los distintos tratamientos realizados por esta organización
      y que afecten a  sus datos personales de conformidad con lo establecido en la Ley Orgánica 3/2018, de 5 de diciembre, de Protección
      de Datos Personales y garantía de los derechos digitales y el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27 de 
      abril de 2016.
      <br>    
      <br>
      <b>1. IDENTIFICACIÓN Y DATOS DE CONTACTO DEL RESPONSABLE</b> 
      <br>    
      <br>
      La asociación Los Pechos Hundidos S.L., con N.I.F. 67865465W y domicilio en Avenida de las ciudades Nº 4, 28905, GETAFE, MADRID, teléfono
      de contacto: 687957648 y mail: trabajofingradopechun@gmail.com  
      <br>    
      <br>
      <b>1.1 Datos de contacto del Delegado de Protección de Datos:</b>
      <br>    
      <br>
      SEGURIDAD Y PRIVACIDAD DE DATOS S.L., con domicilio en AVDA. CORTES VALENCIANAS N.º 39, 13º C y D, 46015, VALENCIA, con N.I.F.: 
      B-98689920, y teléfono de contacto: 900 858 550, y correo electrónico: infodpo@forlopd.es
      <br>    
      <br>   
      <b>2. FINALIDADES DEL TRATAMIENTO DE SUS DATOS PERSONALES</b>
      <br>    
      <br>
      Navegantes de la página web del responsable.
      <br>    
      <br>
      Trataremos sus datos de carácter personal facilitados a través de nuestros formularios web para:
      <br>    
      <br>
      - Atender a las solicitudes, quejas e incidencias trasladadas a través de nuestros canales de contacto incorporados en la página web.
      <br>    
      <br>
      - Control informático de la página web para prevenir cualquier violación de la seguridad de los datos pudiendo acceder a datos de 
      carácter personal de los navegantes.
      <br>    
      <br>
      - Para proteger nuestros derechos o responder ante reclamaciones de cualquier índole.
      <br>    
      <br>   
      <b>3. LEGITIMACIÓN DEL TRATAMIENTO</b>
      <br>
      <br>
      La base por la cual se sustenta el tratamiento de los datos de carácter personal de NAVEGANTES DE LA PÁGINA WEB por parte de la
      organización, se encuentra amparada en:
      <br>    
      <br>
      El consentimiento del interesado para:
      <br>    
      <br>
      Contestar a las dudas, quejas o incidencias trasladadas por parte del interesado a través de los medios puestos a disposición por 
      la organización a tal fin.
      <br>    
      <br>
      La negativa a facilitar sus datos personales conllevara la imposibilidad de tratar sus datos con las finalidades mencionadas.
      Interés legitimo del responsable del tratamiento.
      <br>    
      <br>
      En determinados supuestos, será necesario tratar sus datos para satisfacer intereses legítimos perseguidos por el Responsable del 
      Tratamiento, siempre que prevalezca sobre los intereses oderechos y libertades fundamentales del interesado que requieran la protección 
      de los datos personales.
      <br>    
      <br>
      Los tratamientos que vamos a realizar en base al interés legítimo de la organización son los siguientes:
      <br>    
      <br>
      - Control informático de la página web  para prevenir cualquier violación de la seguridad de los datos.
      <br>    
      <br>
      - Verificar su identidad, o la información que nos facilite para la prestación del servicio suscrito o bien adquirido.
      <br>    
      <br>
      - Para mejorar nuestros servicios y su experiencia en la navegación y uso de la página web.
      <br>    
      <br>
      - Para proteger nuestros derechos o responder ante reclamaciones de cualquier índole.
      <br>
      <br>    
      <b>4. PLAZOS O CRITERIOS DE CONSERVACIÓN DE LOS DATOS</b>
      <br>
      <br>
      Los datos personales proporcionados se conservarán de conformidad con los siguientes criterios:
      <br>    
      <br>
      El tiempo necesario para cumplir con las finalidades para los que fueron recopilados inicialmente.
      <br>    
      <br>
      Una vez que los datos dejen de ser necesarios para el tratamiento en cuestión, estos se mantendrán debidamente bloqueados, para su 
      puesta a disposición de las Administraciones Públicas competentes, Jueces y Tribunales o el Ministerio Fiscal durante el plazo de 
      prescripción de las acciones que pudieran derivarse de la relación mantenida con el cliente y/o los plazos de conservación previstos 
      legalmente.
      <br>    
      <br>
      En relación a los plazos de conservación de los datos personales, según el caso, hay que estar a lo establecido en las siguientes 
      normativas:
      <br>    
      <br>
      - El Código Civil,  en caso de obligaciones contractuales, conservaremos sus datos entre 5 o 15 años según el caso atendiendo a lo 
      dispuesta en el artículo 1964.2 del cuerpo legal mencionado.
      <br>    
      <br>
      - Todas las demás leyes que resulten de aplicación en cada Comunidad Autónoma según las competencias autonómicas cedidas o concurrentes que 
      tengan reconocidas a nivel estatal.
      <br>
      <br>   
      <b>5. DECISIONES AUTOMATIZADAS Y ELABORACIÓN DE PERFILES.</b>
      <br>
      <br>   
      Decisiones automatizadas, perfiles:
      La organización NO toma decisiones automatizadas, ni realiza elaboración de perfiles.
      <br>
      <br>
      <b>6. DESTINATARIOS</b>
      <br>
      <br>
      Durante el periodo de duración del tratamiento de sus datos personales, organización podrá ceder sus datos a terceros en los siguientes 
      casos:
      <br>    
      <br>
      Organismos Públicos, Jueces y Tribunales y, Fuerzas y Cuerpos de Seguridad del Estado, y en general, autoridades competentes, cuando el 
      responsable tenga la obligación  legal de facilitar los datos personales.
      <br>    
      <br>
      La empresa no realiza Transferencia Internacional de Datos alguna.
      <br>
      <br>
      <b>7. DERECHOS.</b>
      <br>
      <br>
      Los interesados que son objeto de cualquier tratamiento llevado a cabo por la organización, podrán ejercer en cualquier momento y de 
      forma totalmente gratuita:
      <br>    
      <br>
      A su vez le informamos de que en cualquier momento podrá ejercer, si lo desea, los derechos de acceso, rectificación y supresión, así 
      como solicitar que se limite el tratamiento de sus datos personales, oponerse al mismo, solicitar la portabilidad de estos (siempre que 
      sea técnicamente posible) o retirar el consentimiento prestado, y en su caso, cuando proceda, a no ser objeto de una decisión basada 
      únicamente en un tratamiento automatizado, incluido la elaboración de perfiles.
      <br>    
      <br>
      Para ello podrá emplear los formularios habilitados por la empresa, o bien dirigir un escrito a la dirección postal o correo electrónico 
      de la organización o DPD, más arriba indicadas.
      <br>    
      <br>
      El escrito deberá contener como mínimo:
      <br>    
      <br>
      - Fotocopia de su D.N.I. o documento equivalente con la finalidad de acreditar su identidad.
      <br>    
      <br>
      - El objeto de su solicitud, es decir, el derecho que va a ejercer.
      <br>    
      <br>
      En caso de que sienta vulnerados sus derechos en lo concerniente a la protección de sus datos personales, especialmente cuando no haya obtenido satisfacción en el 
      ejercicio de sus derechos, puede presentar una reclamación ante la Autoridad de Control en materia de Protección de Datos competente (Agencia Española de Protección 
      de Datos), a través de su sitio web: www.agpd.es.
      <br>
      <br>
      <b>8. VERACIDAD DE LOS DATOS.</b>
      <br>
      <br>
      El interesado garantiza que los datos aportados son verdaderos, exactos, completos y se encuentran actualizados; comprometiéndose a 
      informar de cualquier cambio respecto de los datos que aportara, por los canales habilitados al efecto e indicados en el de la presente 
      política. 
      <br>    
      <br>
      Será responsable de cualquier daño o perjuicio, tanto directo como indirecto, que pudiera ocasionar como consecuencia del 
      incumplimiento de la presente obligación.
      <br>    
      <br>
      En el supuesto de que el usuario facilite datos de terceros, declara que cuenta con el consentimiento de los interesados y se compromete 
      a trasladarle la información contenida en esta cláusula, eximiendo a la organización de cualquier responsabilidad derivada por la falta 
      de cumplimiento de la presente obligación.
      </p>
      
      <ion-button (click)="aceptar()" fill="clear">Aceptar</ion-button>
  </div>
</ion-content>
