<ion-content>
  <div id="todo">
    <ion-card id="card">
      <h3><b>Modificar Contraseña</b></h3>
      <br>
      <ion-label id="label">Contraseña Activa:</ion-label>
        <ion-input [(ngModel)]="pass01" type="password"></ion-input>
      <ion-label>Nueva Contraseña:</ion-label>
        <ion-input [(ngModel)]="pass02" type="password"></ion-input>
      <ion-label>Repite la nueva Contraseña:</ion-label>
        <ion-input [(ngModel)]="pass03" type="password"></ion-input>
      <div id="botones">
        <ion-button (click)="modificar()" fill="clear">Modificar</ion-button>
        <ion-button fill="clear" (click)="volverHome()">Volver a Perfil</ion-button>
      </div>
      <h3>{{mensaje}}</h3>
    </ion-card>
  </div>
</ion-content>
