<ion-content>
<div id="todo">
  <ion-card id="card">
    <h2 id="titulo"><b>Actualice los campos</b></h2>
    <div id="informacion">
      <ion-label  id="etiqueta"><b>Nombre:</b></ion-label>
        <ion-input [(ngModel)]="nombre01" placeholder={{nombre}} id="info"></ion-input>
      <br>
      <ion-label id="etiqueta"><b>Apellidos:</b></ion-label>
        <ion-input [(ngModel)]="apellidos01" placeholder={{apellidos}} id="info"></ion-input>
      <br>
      <ion-label id="etiqueta"><b>Correo:</b></ion-label>
        <ion-input [(ngModel)]="correo01" placeholder={{correo}} id="info"></ion-input>
    </div>
    <div id="botones">
      <ion-button fill="clear" (click)="actualizar()">Actualizar datos</ion-button>
      <ion-button fill="clear" (click)="cambiarPassword()">Modificar Contraseña</ion-button>
      <!-- <ion-button fill="clear" (click)="cambiarUsuario()">Modificar Usuario</ion-button> -->
      <ion-button fill="clear" (click)="volverHome()">Volver a Perfil</ion-button>
    </div>
  </ion-card>
  
</div>
</ion-content>
